// @use "vuetify/styles" with (
//   $body-font-family: "Montserrat"!default,
//   $border-radius-root: 5px
// );

@use "vuetify/styles";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
//@import "vuetify/lib/styles/main.sass";
@import "./variables";
@import "./override";
@import "./layout/container";
@import "./layout/sidebar";
@import "./layout/topbar";
